body, div, p, ul, li, dd, dl, dt, hr, i, h1, h2, strong, h3, h4, h5, h5,
	h6 {
	padding: 0px;
	margin: 0px;
	font: 12px/150% Arial, Verdana, "\5b8b\4f53";
}

.ar {
	text-align: right;
}

a {
	color: #666;
	text-decoration: none;
}

ol, ul {
	list-style: none;
}

em, i, u {
	font-style: normal;
}

img {
	width: 100px;
	border: 0;
	vertical-align: middle;
}

#container {
	width: 1210px;
	height: 600px;
	margin: 0px auto;
}

body {
	font: 12px/150% Arial, Verdana, "\5b8b\4f53";
	color: #666;
}

#header {
	height: 115px;
	background-color: #ffffff;
}

#h_top {
	line-height: 30px;
	height: 30px;
	width: 100%;
	font: 400 15px/15px consolas;
	background-color: #F1F1F1;
}

#h_top li {
	float: left
}

#h_top .hl {
	width: 97px;
	height: 30px;
	float: left
}

#h_top .hl li {
	width: 97px;
	height: 30px;
	line-height: 30px;
}

.hr {
	width: 644px;
	height: 30px;
	float: right;
	line-height: 30px;
}

.hr li {
	height: 30px;
	line-height: 30px;
	padding-left: 10px;
	padding-right: 10px;
}

#h_top li.spacer {
	width: 1px;
	height: 12px;
	margin-top: 9px;
	padding: 0;
	background: #ddd;
	overflow: hidden
}

#h_body {
	width: 990px;
	height: 85px;
	margin-left: 110px;
	margin-right: 110px;
	padding: 15px 0 10px;
}

#h_body #logo {
	width: 275px;
	float: left;
	padding-left: 5px;
	position: relative;
}

#logo .link2 {
	overflow: hidden;
	display: block;
	position: absolute;
	width: 100px;
	height: 40px;
	line-height: 99em;
	top: 8px;
	right: 5px;
	background: #fff;
}

#logo .link2 b {
	display: block;
	position: absolute;
	z-index: 10;
	width: 100px;
	height: 40px;
	line-height: 99em;
	top: 0;
	right: 0;
	background: url(../images/cart-icon.png) #fff no-repeat;
}

a {
	color: #666;
	text-decoration: none;
}

#h_body .search {
	width: 325px;
	height: 24px;
	float: right;
	border: 2px solid #c91623;
	background: #c91623;
	margin-top: 20px;
	overflow: hidden;
}

#h_body .search .text {
	float: left;
	border: 0;
	height: 18px;
	line-height: 18px;
	width: 260px;
	padding: 3px 5px;
}

#h_body .search .button {
	width: 48px;
	height: 24px;
	background: #c91623;
	text-align: center;
	color: #ffffff;
	border: none;
	font-weight: 700;
	cursor: pointer;
	-webkit-appearance: none;
}

#body {
	width: 1210px;
	height: 682px;
}

.w {
	width: 990px;
	margin: 0 auto;
}

.ww {
	margin-top: 10px;
	width: 990px;
	height: 37px;
}

.mb10 {
	margin-bottom: 10px;
}

#body .w .ww1 {
	float: left;
	position: relative;
	height: 26px;
	overflow: hidden;
}

#body .w .ww1 .ww11 {
	float: left;
	position: relative;
	font-weight: 700;
	font-size: 16px;
	height: 26px;
	line-height: 26px;
	text-align: center;
	padding: 0 0 10px;
	cursor: pointer;
	margin: 5px 30px 0 0;
	color: #e4393c;;
}

#body .w .ww1 .ww12 {
	float: left;
	position: relative;
	font-weight: 700;
	font-size: 16px;
	color: #e4393c;
	height: 26px;
	line-height: 26px;
	text-align: center;
	padding: 0 0 10px;
	cursor: pointer;
	margin: 5px 30px 0 0;
}

#body .w .ww2 {
	float: right;
}

.ww2 .label {
	float: left;
	line-height: 26px;
}

.ww22 {
	position: relative;
	float: left;
	z-index: 3;
	height: 26px;
	cursor: default;
	margin-top: 4px;
}

.body1 {
	margin-bottom: 20px;
}

.body1 .cart .w {
	width: 990px;
	margin: 0 auto;
}

.body11 {
	width: 990px;
	height: 194px;
}

.body111 .cart-thead {
	display: inline-block;
	display: block;
	height: 32px;
	line-height: 32px;
	margin: 0 0 10px;
	padding: 5px 0;
	background: #f3f3f3;
	border: 1px solid #e9e9e9;
	border-top: 0;
}

.cart-thead .t-checkbox {
	height: 18px;
	line-height: 18px;
	padding-top: 7px;
	width: 122px;
	padding-left: 11px;
}

.cart-thead .t-goods {
	width: 208px;
	height: 32px;
	line-height: 32px;
}

.cart-thead .t-props {
	width: 140px;
	height: 32px;
	line-height: 32px;
	padding: 0 20px;
}

.cart-thead .t-price {
	width: 120px;
	padding-right: 40px;
	text-align: right;
	height: 32px;
	line-height: 32px;
}

.cart-thead .t-quantity {
	width: 80px;
	text-align: center;
	height: 32px;
	line-height: 32px;
}

.cart-thead .t-sum {
	width: 100px;
	padding-right: 40px;
	text-align: right;
	height: 32px;
	line-height: 32px;
}

.cart-thead .t-action {
	width: 75px;
	height: 32px;
	line-height: 32px;
}

.cart-thead .column {
	float: left;
}

.body111 .jdcheckbox, .cart-main .jdradio {
	float: none;
	position: relative;
	z-index: 5;
	vertical-align: middle;
	_vertical-align: 0px;
	margin: 0 3px 0 0;
	padding: 0;
}

label {
	cursor: default;
}

.cart-thead .column {
	float: left;
}

.cart-checkbox {
	position: relative;
	z-index: 3;
	float: left;
	margin-right: 5px;
}

.cart-item-list {
	margin-bottom: 20px;
}

.cart-tbody .shop {
	height: 30px;
	line-height: 30px;
	padding-left: 11px;
	font-weight: 700;
}

.cart-checkbox {
	position: relative;
	z-index: 3;
	float: left;
	margin-right: 5px;
}

.cart-tbody .shop .shop-txt {
	float: left;
	width: 538px;
	_width: 530px;
	height: 30px;
}

.cart-tbody .shop .self-shop-name {
	width: 54px;
	height: 18px;
	background: url(../images/ziying.png) 0 -177px no-repeat;
	overflow: hidden;
	line-height: 99em;
	color: #e4393c;
}

.cart-tbody .shop .shop-name {
	display: inline-block;
	max-width: 144px;
	overflow: hidden;
	vertical-align: middle;
	height: 30px;
	line-height: 30px;
}

.item-list {
	border-style: solid;
	border-width: 1px 1px 1px;
	_border-width: 1px;
	border-color: #aaa #f1f1f1 #f1f1f1;
	background: #fff;
}

.cart-tbody .item-form {
	display: inline-block;
	display: block;
	width: 938px;
	height: 107px;
}

.cart-tbody .item-item {
	position: relative;
	padding: 0 10px 1px 40px;
	border-top: 1px solid #c5c5c5;
	line-height: 20px;
	_height: 116px;
	background: #fff;
}

.cart-tbody .p-checkbox {
	position: absolute;
	z-index: 3;
	left: 10px;
	top: 0;
	width: 30px;
	min-height: 10px;
	_height: 10px;
}

.cart-tbody .item-item .cell {
	float: left;
	padding: 15px 0 10px;
}

.cart-checkbox {
	position: relative;
	z-index: 3;
	float: left;
	margin-right: 5px;
}

.cart-main-new .cart-tbody .item-item .p-goods {
	width: 300px;
}

.cart-tbody .item-item .goods-item {
	display: block;
}

.cart-tbody .item-item .goods-item .p-img {
	float: left;
	width: 80px;
	height: 82px;
	margin-top: 13px;
	margin-right: 10px;
	border: 1px solid #eee;
	padding: 0;
	background: #ffffff;
	text-align: center;
	overflow: hidden;
}

.item-msg {
	margin-top: 13px;
	width: 220px;
	height: 80px;
	float: left;
}

.cart-tbody .item-item .goods-item .p-name {
	height: 40px;
	line-height: 20px;
	overflow: hidden;
}

.cart-tbody .item-item .goods-item .p-name a {
	color: #333;
}

.cart-tbody .item-item .goods-item .p-extend {
	margin-top: 2px;
}

.cart-tbody .item-item .goods-item .p-extend .jd-giftcard-icon {
	background-position: -27px -23px;
}

.cart-tbody .item-item .goods-item .p-extend i {
	display: inline-block;
	width: 17px;
	height: 16px;
	vertical-align: middle;
	overflow: hidden;
	background: url(../images/ziying.png) no-repeat;
}

.cart-tbody .item-item .goods-item .p-extend .promise {
	margin: 0 10px 0 0;
	display: block;
	min-height: 18px;
	line-height: 18px;
	margin-bottom: 2px;
}

.new {
	width: 160px;
	height: 80px;
	float: left;
}

.cart-tbody .item-item .p-price {
	width: 120px;
	padding-right: 40px;
	font-family: verdana;
	text-align: right;
}

.cart-tbody .item-item .p-price strong {
	display: block;
	color: #333;
	font-weight: 400;
}

.cart-tbody .item-item .p-quantity {
	width: 80px;
	margin-left: 10px;
}

.cart-tbody .item-item .p-quantity .quantity-form {
	position: relative;
	overflow: hidden;
	height: 22px;
	width: 80px;
	text-align: center;
	margin: auto;
}

.cart-tbody .item-item .p-quantity .itxt {
	position: absolute;
	left: 17px;
	top: 0;
	border: 1px solid #cacbcb;
	width: 42px;
	height: 18px;
	line-height: 18px;
	text-align: center;
	padding: 1px;
	margin: 0;
	font-size: 12px;
	font-family: verdana;
	color: #333;
	-webkit-appearance: none;
}

.cart-tbody .item-item .p-quantity .decrement.disabled {
	cursor: default;
	color: #e9e9e9;
}

.cart-tbody .item-item .p-quantity .decrement {
	float: left;
}

.cart-tbody .item-item .p-quantity .increment {
	float: right;
	border-left: 0px;
	color: #666;
}

.cart-tbody .item-item .p-quantity .decrement {
	border: 1px solid #cacbcb;
	border-right: 0;
	height: 22px;
	line-height: 18px;
	padding: 1px 0;
	width: 17px;
	text-align: center;
	color: #666;
	margin: 0;
	background: #fff;
}

.cart-tbody .item-item .p-quantity .increment {
	border: 1px solid #cacbcb;
	border-left: 0;
	height: 22px;
	line-height: 18px;
	padding: 1px 0;
	width: 17px;
	text-align: center;
	color: #666;
	margin: 0;
	background: #fff;
}

.cart-tbody .item-item .p-sum {
	width: 100px;
	padding-right: 40px;
	text-align: right;
	font-family: verdana;
}

.cart-tbody .item-item .p-sum strong {
	color: #333;
	font-weight: 700;
}

.cart-tbody .item-item .p-ops {
	width: 75px;
}

.cart-tbody .item-item .p-ops a {
	color: #666;
	display: block;
}

.cart-toolbar {
	height: 50px;
	border: 1px solid #f0f0f0;
	background: #fff;
	position: relative;
	margin-top: 20px;
}

.toolbar-wrap {
	position: relative;
	width: 988px;
	margin: 0 auto;
}

.toolbar-wrap .selected-item-list {
	position: absolute;
	z-index: 10;
	top: -122px;
	left: 0;
	height: 122px;
}

.toolbar-wrap .options-box {
	position: relative;
	height: 50px;
}

.toolbar-wrap .select-all {
	float: left;
	height: 18px;
	line-height: 18px;
	padding: 16px 0 16px 9px;
	white-space: nowrap;
}

.cart-checkbox {
	position: relative;
	z-index: 3;
	float: left;
	margin-right: 5px;
}

.cart-checkbox .jdcheckbox {
	position: relative;
	float: none;
	vertical-align: middle;
	_vertical-align: 0px;
	margin: 0 3px 0 0;
	padding: 0;
}

.toolbar-wrap .operation {
	float: left;
	height: 50px;
	width: 310px;
	line-height: 50px;
}

.toolbar-wrap .operation a {
	float: left;
	margin-left: 20px;
	color: #666;
}

.toolbar-wrap .toolbar-right {
	position: absolute;
	height: 52px;
	right: 0;
	top: -1px;
	width: 610px;
}

.toolbar-wrap .toolbar-right .normal {
	height: 52px;
}

.toolbar-wrap .toolbar-right .normal .comm-right {
	float: right;
	width: 650px;
}

.toolbar-wrap .btn-area {
	float: right;
}

.toolbar-wrap .btn-area .common-submit-btn, .toolbar-wrap .btn-area .jdInt-submit-btn,
	.toolbar-wrap .btn-area .submit-btn {
	display: block;
	position: relative;
	width: 96px;
	height: 52px;
	line-height: 52px;
	color: #fff;
	text-align: center;
	font-size: 18px;
	font-family: "Microsoft YaHei";
	background: #e54346;
	overflow: hidden;
}

.toolbar-wrap .btn-area .common-submit-btn b, .toolbar-wrap .btn-area .jdInt-submit-btn b,
	.toolbar-wrap .btn-area .submit-btn b {
	display: block;
	position: absolute;
	width: 96px;
	height: 52px;
	top: 0;
	left: 0;
	overflow: hidden;
	background:
		url(//misc.360buyimg.com/user/cart/css/i/cart-submit-btn-new.png) 0 0
		no-repeat;
}

.toolbar-wrap .price-sum {
	float: right;
	height: 43px;
	line-height: 20px;
	margin: 7px 20px 0 10px;
	color: #666;
	width: auto;
}

.toolbar-wrap .price-sum div {
	white-space: nowrap;
}

.toolbar-wrap .price-sum .txt {
	float: left;
	width: 110px;
	text-align: right;
	color: #999;
}

.toolbar-wrap .price-sum .price {
	display: inline-block;
	text-align: right;
	font-family: verdana;
}

.toolbar-wrap .price-sum .price em {
	font-size: 16px;
	color: #e4393c;
	font-weight: 700;
}

.toolbar-wrap .amount-sum {
	float: right;
	color: #999;
	height: 44px;
	line-height: 20px;
	margin: 7px 0 0;
	cursor: pointer;
}

.toolbar-wrap .amount-sum em {
	color: #e4393c;
	font-family: verdana;
	font-weight: 700;
	margin: 0 3px;
}

#c-tabs-new {
	overflow: visible;
}

#c-tabs-new .mt {
	margin-bottom: 10px;
}

#c-tabs-new .c-item {
	display: inline-block;
	margin-right: 35px;
	padding-bottom: 3px;
	border-bottom: 2px solid #fff;
}

#c-tabs-new .c-item.curr {
	color: #e4393c;
	font-weight: 700;
	border-color: #e4393c;
}

.m2 {
	width: 990px;
	height: 326px;
}

#bottom {
	width: 1210px;
	height: 457px;
	margin-top: 20px;
}

#bottom #bo1 {
	width: 1349px;
	height: 94px;
	margin-top: 20px;
}

#bottom #bo2 {
	width: 1210px;
	height: 168px;
	margin-top: 20px;
}

#bottom #bo2 .fore1 {
	width: 199px;
	height: 156px;
	float: left;
}

#bottom #bo2 dt {
	width: 199px;
	height: 36px;
	line-height: 36px;
	font: 400 16px/24px "microsoft yahei"
}

#bottom #bo2 dd {
	width: 199px;
	height: 120px;
}

#bottom #bo2 dd div {
	width: 199px;
	height: 20px;
}

#bottom #bo2 .fore234 {
	width: 199px;
	height: 136px;
	float: left;
}

#bottom #bo2 .fore5 {
	width: 100px;
	height: 156px;
	float: left;
}

#bottom #bo2 .fore6 {
	width: 310px;
	height: 168px;
	float: left;
	background: url(../images/f6.png) no-repeat 60px -131px;
}

#bottom #bo2 .fore6 .f6 {
	width: 310px;
	height: 45px;
	font: 400 16px/24px "microsoft yahei";
	margin-left: 80px;
}

#bottom #bo2 .fore6 .f66 {
	width: 310px;
	height: 87px;
	margin-left: 80px;
}

#bottom #bo2 .fore6 .f66 p {
	width: 190px;
	height: 54px;
}

#bottom #bo3 {
	width: 990px;
	height: 195px;
	margin-top: 20px;
}

#bottom #bo3 #footer {
	width: 1210px;
	height: 195px;
	border-top: 1px solid #E5E5E5;
	padding: 20px 0 0px;
	text-align: center;
}

#bottom #bo3 #footer .footer1 {
	width: 1210px;
	height: 18px;
}

#bottom #bo3 #footer .footer2 {
	width: 1210px;
	height: 74px;
	margin: 10px 0;
}

#bottom #bo3 #footer .footer3 {
	width: 1210px;
	height: 32px;
}